*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.box{
    /* height: 80%; */
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    /* background-color: aquamarine; */
}

.signup{
    flex: 0.5;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: red; */
}

.box span{
    color: red;
}

.box div{
    display: flex;
    
    justify-content: center;
    align-items: center;
    align-self: center;
}
